# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('homepage_actions.csv')
df.head(20)

                     timestamp      id       group action
0   2016-09-24 17:42:27.839496  804196  experiment   view
1   2016-09-24 19:19:03.542569  434745  experiment   view
2   2016-09-24 19:36:00.944135  507599  experiment   view
3   2016-09-24 19:59:02.646620  671993     control   view
4   2016-09-24 20:26:14.466886  536734  experiment   view
5   2016-09-24 20:32:25.712659  681598  experiment   view
6   2016-09-24 20:39:03.248853  522116  experiment   view
7   2016-09-24 20:57:20.336757  349125  experiment   view
8   2016-09-24 20:58:01.948663  349125  experiment  click
9   2016-09-24 21:00:12.278374  560027     control   view
10  2016-09-24 21:00:41.351487  265695  experiment   view
11  2016-09-24 21:05:15.348935  601714  experiment   view
12  2016-09-24 21:06:27.553057  601714  experiment  click
13  2016-09-24 21:09:09.046127  416862  experiment   view
14  2016-09-24 21:29:19.766467  487634  experiment   view
15  2016-09-24 21:30:02.739756  487634  experiment  click
16  2016-09-24 23:01:08.713402  468601  experiment   view
17  2016-09-24 23:01:12.108316  468601  experiment  click
18  2016-09-24 23:08:35.540897  293251  experiment   view
19  2016-09-24 23:50:31.623841  515303  experiment   view

In [13]:
df.groupby(['id']).count()

        timestamp  group  action
id
182988          1      1       1
182994          2      2       2
183089          1      1       1
183136          1      1       1
183141          2      2       2
183248          2      2       2
183283          1      1       1
183389          1      1       1
183515          1      1       1
183524          1      1       1
183576          1      1       1
183617          2      2       2
183850          1      1       1
183938          2      2       2
183988          1      1       1
184212          2      2       2
184368          1      1       1
184390          1      1       1
184441          2      2       2
184654          2      2       2
184682          1      1       1
184992          2      2       2
185107          1      1       1
185108          2      2       2
185551          1      1       1
185833          1      1       1
186063          1      1       1
186212          1      1       1
186247          1      1       1
186353          1      1       1
...           ...    ...     ...
933406          1      1       1
933480          2      2       2
933564          1      1       1
933594          1      1       1
934047          1      1       1
934048          1      1       1
934268          2      2       2
934314          1      1       1
934327          1      1       1
934360          1      1       1
934377          1      1       1
934486          2      2       2
934612          1      1       1
934787          2      2       2
934795          2      2       2
935091          2      2       2
935382          1      1       1
935566          1      1       1
935576          1      1       1
935669          1      1       1
935742          2      2       2
936025          1      1       1
936129          1      1       1
936727          1      1       1
936786          1      1       1
937003          1      1       1
937073          1      1       1
937108          1      1       1
937139          2      2       2
937217          2      2       2

[6328 rows x 3 columns]

In [14]:
df.describe()

                  id
count    8188.000000
mean   564699.749878
std    219085.845672
min    182988.000000
25%    373637.500000
50%    566840.500000
75%    758078.000000
max    937217.000000

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [ ]:
#Your code here

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [ ]:
#Your code here

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [ ]:
#Your code here

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [ ]:
#Your code here

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: **Your analysis here**

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.